@use "../presets" as *;
@use "../mixins" as *;

.header {
  &::after {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: $color-gray;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__menu {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 35px;
  }

  &__actions {
    margin-left: auto;
  }
}