@use "../presets" as *;
@use "../mixins" as *;

.boost {
  padding-bottom: 185px;

  @include xl {
    padding-bottom: 50px;
  }
  &__title {
    text-align: start;

    @include xl-min {
      margin-bottom: 75px;
    }
    @include xl {
      margin-bottom: 50px;
    }
    @include lg {
      text-align: center;
    }
  }
  &__content {
    display: grid;

    gap: $gap-xl $gap-lg;
    @include lg-min {
      justify-content: space-between;

      grid-template-columns: repeat(3, minmax(50px, 410px));
    }
    @include lg-sm {
      justify-content: space-between;

      grid-template-columns: repeat(2, minmax(50px, max-content));
    }
  }
}

.boost-item {
  display: flex;
  flex-direction: column;

  @include lg {
    text-align: center;
  }
  &__title {
    margin-bottom: 27px;

    text-align: start;

    font-size: 30px;

    @include lg {
      margin-bottom: 10px;

      text-align: center;
    }
  }
  &__description {
    margin-bottom: 16px;

    font-size: 20px;
    line-height: 1.5;

    @include lg {
      margin-bottom: 10px;
    }
  }
  &__link {
    padding: 15px 15px 15px 0;

    font-size: 20px;
    line-height: 1.2;
  }
  &__picture {
    display: flex;
    align-items: center;
    order: -1;

    min-height: 200px;
    margin-bottom: 5px;

    @include lg {
      justify-content: center;

      margin-bottom: 20px;
    }
  }
}
