@use "../presets" as *;
@use "../mixins" as *;

.integrate {
  &__flex {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include xl-min {
      padding-top: 115px;
      padding-bottom: 162px;
    }
    @include xl {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  &__title {
    max-width: 790px;
    margin-bottom: 0;

    font-weight: 600;
    line-height: 1.15;

    @include xl-min {
      font-size: 65px;
    }
    @include xl-xs {
      margin-bottom: 10px;

      font-size: 40px;
    }
    @include xs {
      margin-bottom: 10px;

      font-size: 30px;
    }
  }
  &__description {
    max-width: 539px;
    margin-top: 0;

    text-align: center;

    font-size: 25px;
    line-height: 1.2;
  }
  &__img {
    margin-bottom: 27px;

    @include xl {
      width: 100%;
    }
  }
}
