@use "../presets" as *;
@use "../mixins" as *;

.control,
.quality {
  @extend %job-control;
  &__content {
    @extend %job-content-left;
  }
  &__title {
    @extend %job-title;
  }
  &__description {
    @extend %job-description;
  }
  &__btn {
    @extend %job-btn;
  }
  &__picture {
    @extend %job-picture;
  }
  &__image {
    @extend %job-image;
  }
}

.time,
.work {
  flex-direction: row-reverse;

  @extend %job-control;
  &__content {
    @extend %job-content-right;
  }
  &__title {
    @extend %job-title;
  }
  &__description {
    @extend %job-description;
  }
  &__btn {
    @extend %job-btn;
  }
  &__picture {
    @extend %job-picture;
  }
  &__image {
    @extend %job-image;
  }
}

%job-control {
  display: flex;
  align-items: center;

  gap: $gap-lg;
  @include md-min {
    margin-top: 88px;
    margin-bottom: 248px;
  }
  @include md {
    flex-direction: column;

    margin-bottom: 70px;
  }
}

%job-content-left {
  flex-basis: 200px;
  flex-grow: 1;

  @include xl-min {
    padding-right: 110px;
  }
}

%job-content-right {
  flex-basis: 200px;
  flex-grow: 1;

  @include xl-min {
    padding-left: 110px;
  }
}

%job-picture {
  flex-basis: 200px;
  flex-grow: 1;

  @include md {
    width: 100%;
  }
}

%job-image {
  width: 100%;
}

%job-title {
  margin: 0 0 30px;
}

%job-description {
  margin-bottom: 25px;

  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

%job-btn {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
