@use "../presets" as *;
@use "../mixins" as *;

.lokalise {
  padding-top: 78px;
  margin-top: -102px;
  margin-bottom: 150px;

  background-color: $color-brown-lg;
  @include xl {
    margin-bottom: 50px;
    padding-top: 50px;
    margin-top: -35px;
  }
  &__title {
    @include xl-min {
      margin-bottom: 80px;
    }
    @include xl-xs {
      margin-bottom: 50px;
    }
  }

  &__content {
    display: grid;
    text-align: center;
    align-items: start;

    padding-bottom: 150px;
    grid-column-gap: 20px;
    grid-row-gap: 55px;
    @include lg-min {
      justify-content: space-around;
      grid-template-columns: repeat(3, minmax(50px, 328px));
    }
    @include  lg-sm {
      padding-bottom: 50px;
      justify-content: space-evenly;
      grid-template-columns: repeat(2, minmax(50px, max-content));
    }
    @include  sm {
      padding-bottom: 50px;
    }
  }
}

.object {
  display: grid;
  &__title {
    grid-row-start: 2;
    margin: 5px 0 2px;
  }
  &__description {
    grid-row-start: 3;

    font-size: 18px;
    line-height: 1.4;
  }
  &__picture {
    grid-row-start: 1;
    @include  sm-min {
      margin-bottom: 18px;
    }
    @include sm {
      margin-bottom: 5px;
    }
  }
}