$color-primary: #000000;
$color-white: #ffffff;
$color-blue: #C9E8F2;

$color-accent: #ff6336;
$color-accent-lg: #FF9C7D;

$color-gray: #EEEEEE;
$color-gray-lg: #cccccc;
$color-gray-md: #808080;
$color-gray-dark: #333333;

$color-brown: #DABC98;
$color-brown-lg:#FFF8E4;