$color-primary: #000000;
$color-white: #ffffff;
$color-blue: #c9e8f2;
$color-accent: #ff6336;
$color-accent-lg: #ff9c7d;
$color-gray: #eeeeee;
$color-gray-lg: #cccccc;
$color-gray-md: #808080;
$color-gray-dark: #333333;
$color-brown: #dabc98;
$color-brown-lg: #fff8e4;
